.cont{
  background-color: white;
  display: flex;
  flex-flow: column;
  height: 100%;
  
  
}

.cont1{
  width: 100%;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px black;
  
}
.cont2{
  width: 100%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  
}


@media(max-width: 800px){
  .cont{
    flex-direction: column;
  }
  .cont1, .cont2{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}